h1{
  text-align: center;
}
body{
background-image: radial-gradient(circle, #00efff, #00d6ff, #67b4ff, #ba88f2, #e556ac);
}
h1{
  color: white
}
h3{
  color: white;
  text-indent: 50px;
  font-size: 25px;
}
.LinkBar{
  overflow: hidden;
  background-color: skyblue; 
}
.LinkBar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 70px;
  text-decoration: none;
  font-size: 17px;
}
.LinkBar a:hover{
  background-color: pink;
  color: black;
}
.Home{
  position: absolute;
  left: 950px;
}
.signbutton {
  background-color: skyblue;
  color: white;
  padding: 17px;
  font-size: 16px;
  border: none;
}
.button {
  position: absolute;
  left: 1000px;
  top: 80px;
  height: 20px;
  cursor: pointer;
}
.SIGNS{
  display: none;
  position: absolute;
  text-align: center;
  background-color: #e556ac;
  min-width: 195px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.SIGNS a {
  color: white;
  padding: 10px 65.5px;
  text-decoration: none;
  display: block;
}
.SIGNS a:hover {background-color: #ddd;
color:#e556ac;
cursor: pointer;
}

.button:hover .SIGNS {display: block;}

.button:hover .signbutton {background-color:#00d6ff;}

h2{
  position: absolute;
  top: 750px;
  left: 150px;
}
.Leopic{
  display: inline-block;
  position: absolute;
  left: 850px;
  top: 400px;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
}
h4{
  position: absolute;
  top: 720px;
  left: 950px;
}
@media screen and (min-width: 1200px) {
  .LinkBar {
    color: pink
  }
}
.Cancerpic{
  display: inline-block;
  position: absolute;
  left: -60px;
  top: 800px;
  overflow: hidden;
}
h5{
  position: absolute;
  left: 170px;
  top: 1250px;
}
.Piscespic{
  display: inline-block;
  position: absolute;
  top: 890px;
  left: 800px;
  overflow: hidden;
}
.Pisces{
  position: absolute;
  top: 1250px;
  left: 880px;
}
.Scorpiopic{
  display: inline-block;
  position: absolute;
  top: 1450px;
  left: 50px;
  overflow: hidden;
}
.Scorpio{
  position: absolute;
  top: 1900px;
  left: 150px;
}
.Tauruspic{
  position: absolute;
  top: 1500px;
  left: 850px;
  overflow: hidden;
}
.Taurus{
  position: absolute;
  top: 1900px;
  left: 950px;
}
.Sagittariuspic{
  position: absolute;
  top: 2000px;
  left: -10px;
  overflow: hidden;
}
.Sagittarius{
  position: absolute;
  top: 2450px;
  left: 50px;
}
.Geminipic{
  position: absolute;
  top: 2025px;
  left: 850px;
  overflow: hidden;
}
.Gemini{
  position: absolute;
  top: 2450px;
  left: 970px;
}
.Virgopic{
  position: absolute;
  top: 2550px;
  left: -10px;
  overflow: hidden;
}
.Virgo{
  position: absolute;
  top: 2970px;
  left: 120px;
}
.Librapic{
  position: absolute;
  top: 2480px;
  left: 730px;
  overflow: hidden;
}
.Libra{
  position: absolute;
  top: 2970px;
  left: 980px;
}