h1{
  text-align: center;
}
body{
background-image: radial-gradient(circle, #00efff, #00d6ff, #67b4ff, #ba88f2, #e556ac);
}
h1{
  color: white
}
h3{
  color: white;
  text-indent: 50px;
  font-size: 25px;
}
.LinkBar{
  overflow: hidden;
  background-color: skyblue; 
}
.LinkBar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 70px;
  text-decoration: none;
  font-size: 17px;
}
.LinkBar a:hover{
  background-color: pink;
  color: black;
}
.Home{
  position: absolute;
  left: 950px;
}
.signbutton {
  background-color: skyblue;
  color: white;
  padding: 17px;
  font-size: 16px;
  border: none;
}
.button {
  position: absolute;
  left: 1000px;
  top: 80px;
  height: 20px;
  cursor: pointer;
}
.SIGNS{
  display: none;
  position: absolute;
  text-align: center;
  background-color: #e556ac;
  min-width: 195px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.SIGNS a {
  color: white;
  padding: 10px 65.5px;
  text-decoration: none;
  display: block;
}
.SIGNS a:hover {background-color: white;
color:#e556ac;
cursor: pointer;
}

.button:hover .SIGNS {display: block;}

.button:hover .signbutton {background-color:#00d6ff;}

h2{
  position: absolute;
  top: 750px;
  left: 150px;
}
.Leopic{
  display: inline-block;
  position: absolute;
  left: 850px;
  top: 400px;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
}
h4{
  position: absolute;
  top: 720px;
  left: 950px;
}
@media screen and (min-width: 1200px) {
  .LinkBar {
    color: pink
  }
}
.Cancerpic{
  display: inline-block;
  position: absolute;
  left: -60px;
  top: 800px;
  overflow: hidden;
}
h5{
  position: absolute;
  left: 170px;
  top: 1250px;
}
.Piscespic{
  display: inline-block;
  position: absolute;
  top: 890px;
  left: 800px;
  overflow: hidden;
}
.Pisces{
  position: absolute;
  top: 1250px;
  left: 880px;
}
.Scorpiopic{
  display: inline-block;
  position: absolute;
  top: 1450px;
  left: 50px;
  overflow: hidden;
}
.Scorpio{
  position: absolute;
  top: 1900px;
  left: 150px;
}
.Tauruspic{
  position: absolute;
  top: 1500px;
  left: 850px;
  overflow: hidden;
}
.Taurus{
  position: absolute;
  top: 1900px;
  left: 950px;
}
.Sagittariuspic{
  position: absolute;
  top: 2000px;
  left: -10px;
  overflow: hidden;
}
.Sagittarius{
  position: absolute;
  top: 2450px;
  left: 50px;
}
.Geminipic{
  position: absolute;
  top: 2025px;
  left: 850px;
  overflow: hidden;
}
.Gemini{
  position: absolute;
  top: 2450px;
  left: 970px;
}
.Virgopic{
  position: absolute;
  top: 2550px;
  left: -10px;
  overflow: hidden;
}
.Virgo{
  position: absolute;
  top: 2970px;
  left: 120px;
}
.Librapic{
  position: absolute;
  top: 2480px;
  left: 730px;
  overflow: hidden;
}
.Libra{
  position: absolute;
  top: 2970px;
  left: 980px;
}
.Capricornpic{
  position: absolute;
  top: 3050px;
  left: -50px;
  overflow: hidden;
}
.Capricorn{
  position: absolute;
  top: 3430px;
  left: 50px;
}
.Aquariuspic{
  position: absolute;
  top: 3110px;
  left: 900px;
  overflow: hidden;
}
.Aquarius{
  position: absolute;
  top: 3430px;
  left: 900px;
}
.Ariessign{
  position: absolute;
  top: 200px;
  left: 20px;
}
.Ariespara{
  position: absolute;
  top: 450px;
  text-align: center;
}
.leosign{
  position: absolute;
  top: 1200px;
}
.leopara{
  position: absolute;
  top: 1100px;
}
.ariespicc{
  position: absolute;
  top: 650px;
}
.cancersign{
  position: absolute;
  top: 2100px;
}
.Cancerpara{
  position: absolute;
  top: 2350px;
}
.cancerpicc{
  position: absolute;
  top: 200px;
  left: 10px;
  box-align: inherit;
}
.piscessign{
  position: absolute;
  top: 600px;
  left: 10px;
}
.Piscespara{
  position: absolute;
  top: 875px;
  left: 10px;
}
.piscespicc{
  position: absolute;
  top: 1150px;
  left: 10px;
}
.scorpiosign{
  position: absolute;
  top: 1450px;
  left: -50px;
}
.scorpiopara{
  position: absolute;
  top: 1800px;
}
.scorpiopicc{
  position: absolute;
  top: 2050px;
  left: 10px;
}
.taurussign{
  position: absolute;
  top: 2500px;
  left: 50px;
}
.tauruspara{
  position: absolute;
  top: 2750px;
}
.tauruspicc{
  position: absolute;
  top: 3000px;
  left: 10px;
}
.sagisign{
  position: absolute;
  top: 3400px;
  left: 50px;
}
.sagipara{
  position: absolute;
  top: 3650px;
}
.sagipicc{
  position: absolute;
  top: 3900px;
  left: 10px;
}
.geminisign{
  position: absolute;
  top: 4300px;
  left: 50px
}
.geminipara{
  position: absolute;
  top: 4550px;
}
.geminipicc{
  position: absolute;
  top: 4800px;
  left: 10px;
}
.virgosign{
  position: absolute;
  top: 5200px;
  left: 40px;
}
.virgopara{
  position: absolute;
  top: 5400px;  
}
.virgopicc{
  position: absolute;
  top: 5600px;
  left: 10px
}
.librasign{
  position: absolute;
  top: 6000px;
  left: 50px;
}
.librapara{
  position: absolute;
  top: 6250px;
}
.librapicc{
  position: absolute;
  top: 6450px;
  left: 10px;
}
.caprisign{
  position: absolute;
  top: 6850px;
  left: 50px;
}
.capripara{
  position: absolute;
  top: 7100px;
}
.capripicc{
  position: absolute;
  top: 7350px;
  left: 10px;
}
.Aquasign{
  position: absolute;
  top: 7750px;
  left: 50px;
}
.aquapara{
  position: absolute;
  top: 7950px;
}
.aquapicc{
  position: absolute;
  top: 8200px;
  left: 10px; 
}
.ariesparaa{
  text-indent: 20px;
  text-align: left;
  position: absolute;
  top: 550px;
}
.Ariespiccc{
  position: absolute;
  left: 500px;
}
.leopiccc{
  position: absolute;
  left: 500px;
  top: 800px
}
.leoparaa{
  position: absolute;
  top: 1100px;
}
.horo{
  position: absolute;
  top: -19px;
  left: 800px;
}
.cancerpiccc{
  position: absolute;
  top: 1400px;
  left: 500px;
}
.cancerparaa{
  position: absolute;
  top: 1650px;
}
.piscespiccc{
  position: absolute;
  top: 1950px;
  left: 500px;
}
.piscesparaa{
  position: absolute;
  top: 2200px;
}
.scorpiccc{
  position: absolute;
  top: 2350px;
  left: 410px;
}
.scorpparaa{
  position: absolute;
  top: 2700px;
}
.taurpiccc{
  position: absolute;
  top: 3000px;
  left: 500px;
}
.taurparaa{
  position: absolute;
  top: 3300px;
}
.sagipiccc{
  position: absolute;
  top: 3550px;
  left: 500px;
}
.sagiparaa{
  position: absolute;
  top: 3800px;
}
.gempiccc{
  position: absolute;
  top: 4100px;
  left: 500px;
}
.gemparaa{
  position: absolute;
  top: 4350px;
}
.virgopiccc{
  position: absolute;
  top: 3000px;
}
.virgopiccc{
  position: absolute;
  top: 4550px;
  left: 450px;
}
.virgparaa{
  position: absolute;
  top: 4900px;
}
.librapiccc{
  position: absolute;
  top: 5150px;
  left: 500px;
}
.libraparaa{
  position: absolute;
  top: 5400px;
}
.cappiccc{
  position: absolute;
  top: 5650px;
  left: 500px;
}
.capparaa{
  position: absolute;
  top: 5900px;
}
.aquapiccc{
  position: absolute;
  top: 6200px;
  left: 500px;
}
.aquaparaa{
  position: absolute;
  top: 6500px;
}
.ariesword{
  position: absolute;
  top: 130px;
  left: 50px;
}
.ariess{
  position: absolute;
  top: 250px;
  left: 50px;
}
.ariesperson{
  position: absolute;
  top: 500px;
  text-align: left;
}
.leoword{
  position: absolute;
  left: 50px;
  top: 150px;
}
.leoo{
  position: absolute;
  top: 350px;
  left: 0px;
}
.leopersonal{
  position: absolute;
  top: 600px;
  text-align: left;
}
.cancerword{
  position: absolute;
  top: 150px;
}
.cancerr{
  position: absolute;
  top: 300px;
}
.cancerperson{
  position: absolute;
  top: 550px;
  text-align: left;
}
.piscesword{
  position: absolute;
  top: 150px;
}
.piscess{
  position: absolute;
  top: 300px;
}
.piscesperson{
  position: absolute;
  top: 550px;
  text-align: left;
}
.scorpioword{
  position: absolute;
  top: 150px;
}
.scorpioo{
  position: absolute;
  top: 250px;
}
.scorpioperson{
  position: absolute;
  top: 550px;
  text-align: left;
}
.taurusword{
  position: absolute;
  top: 150px;
}
.tauruss{
  position: absolute;
  top: 350px;
}
.taurusperson{
  position: absolute;
  top: 650px;
  text-align: left;
}
.sagiword{
  position: absolute;
  top: 150px;
}
.sagii{
  position: absolute;
  top: 350px;
  left: 50px;
}
.sagiperson{
  position: absolute;
  top: 650px;
  text-align: left;
}
.gemword{
  position: absolute;
  top: 150px;
}
.gemm{
  position: absolute;
  top: 300px;
}
.gempersonal{
  position: absolute;
  top: 550px;
  text-align: left;
}
.virgoword{
  position: absolute;
  top: 150px;
}
.virgoo{
  position: absolute;
  top: 275px;
  left: -50px;
}
.virgoperson{
  position: absolute;
  top: 600px;
  text-align: left;
}
.libraword{
  position: absolute;
  top: 150px;
}
.libraa{
  position: absolute;
  top: 350px;
}
.libraperson{
  position: absolute;
  top: 650px;
  text-align: left;
}
.capword{
  position: absolute;
  top: 150px;
}
.capp{
  position: absolute;
  top: 300px;
}
.capperson{
  position: absolute;
  top: 600px;
  text-align: left;
}
.aquaword{
  position: absolute;
  top: 150px;
}
.aquaa{
  position: absolute;
  top: 350px;
}
.aquaperson{
  position: absolute;
  top: 650px;
  text-align: left;
}